/* Global styles for Yes, Let's! 
 * Author: Jesse Hattabaugh 2012 */
footer *{
	vertical-align: middle;
}
.timeline{
	outline: 1px solid red;
}
.timeline div{
	outline: 1px solid blue;
	position:relative;
	margin: 1em;
}

.box {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
}
