/* Global styles for Yes, Let's! 
 * Author: Jesse Hattabaugh 2012 */

#map_canvas { height: 100% }

footer *{
	vertical-align: middle;
}
.timespan {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
}
.timespan div{
	display: block;
	position: relative;
}
