/* Global styles for Yes, Let's! 
 * Author: Jesse Hattabaugh 2012 */
footer *{
	vertical-align: middle;
}
.flexbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
}
.flexbox div{
	display: block;
	position: relative;
}
